// Mobile
@media only screen and (min-device-width : 320px) {
  .layout {
    min-height: 100vh;
    transition: 0s;
  }
  .newsletter-container {
    width: 100%;
    max-width: 520px;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    z-index: 1;
  }
  .newsletter-header {
    position: relative;
    flex-basis: auto;
    .newsletter-title {
      position: relative;
      margin: 10px 0;
      color: #b6fdbf;
      font-size: 36px;
      line-height: 59px;
      text-align: center;
    }
  }
  .newsletter-content {
    position: relative;
    color: #94aebf;
    flex-basis: auto;
  }
  .newsletter-subtitle {
    text-align: center;
    margin-bottom: 12px;
    padding: 0 7px;
    color: #94aebf;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
  }
  .newsletter-subtext {
    margin-bottom: 10px;
    text-align: center;
    color: #94aebf;
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
  }
  .newsletter-form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    .newsletter-fieldset {
      position: relative;
      flex: 1 1 auto;
      padding: 0;
      margin-bottom: 10px;
    }
    .input-container {
      display: flex;
    }
    input[type="text"] {
      display: block;
      width: 100%;
      padding: 6px 12px;
      color: rgba(148,174,191,.8);
      border: 1px solid hsla(0,0%,100%,.01);
      background-color: hsla(0,0%,100%,.1);
      text-align: left;
      font-weight: normal;
      font-size: 14px;
      line-height: 32px;
      border-radius: 4px;
      outline: none;
      transition: background-color .15s ease-in-out,color .15s ease-in-out,border-color .15s ease-in-out;
      &::placeholder {
        font-family: 'Open Sans', sans-serif;
        color: #94aebf;
        opacity: 0.4;
      }
    }
    .success-message {
      margin-bottom: 20px;
      color: #94aebf;
      font-size: 24px;
      line-height: 30px;
      font-weight: bold;
      text-align: center;
    }
    .first-name {
      margin-right: 10px;
    }
  }
  .errors-container {
    margin-top: 5px;
    font-size: 12px;
    color: red;
    transition: height .5s ease-in-out;
    li {
      text-align: left;
    }
  }
  .form-notifications-container {
    display: flex;
    .checkbox-wrapper {
      display: flex;
    }
    input[type="checkbox"] {
    }
    p {
      padding-left: 5px;
      font-size: 12px;
      font-weight: 300;
      line-height: 14px;
      color: #888888;
      text-align: left;
    }
  }
  .btn-submit {
    width: 100%;
    display: block;
    background: #ed1f34;
    cursor: pointer;
    border: 1px solid #ed1f34;
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    padding: 8px 14px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    transition: background-color .25s ease-in-out,box-shadow .25s ease-in-out,opacity .25s ease-in-out,border-color .25s ease-in-out,color .25s ease-in-out;
    margin: 0;
    margin-top: 10px;
  }
}

// Tablet Portrait and Landscape
@media only screen and (min-device-width : 768px) {
  .layout {
    min-height: 100vh;
    transition: 0s;
  }
  .newsletter-container {
    width: auto;
    max-width: 9999em;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 80px;
    z-index: 1;
  }
  .newsletter-header {
    position: relative;
    flex: 1 1 auto;
    .newsletter-title {
      color: #b6fdbf;
      font-size: 50px;
      line-height: 60px;
      position: relative;
      margin: 0 0 10px;
      text-align: center;
    }
  }
  .newsletter-content {
    position: relative;
    color: #94aebf;
    flex: 1 1 auto;
  }
  .newsletter-subtitle {
    padding: 0 7px;
    color: #94aebf;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    margin-bottom: 11px;
  }
  .newsletter-subtext {
    color: #94aebf;
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 10px;
    text-align: center;
  }
  .newsletter-form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    .newsletter-fieldset {
      position: relative;
      margin-bottom: 10px;
      flex-direction: row;
      padding: 0;
      flex: 1 1 70%;
    }
    .input-wrapper {
      display: inline-block;
      width: 63%;
      flex: 1;
      margin-right: 20px;
      .input-container {
        display: flex;
        flex: 1 1 auto;
      }
    }
    .form-action-wrapper {
      display: inline-block;
      width: 25%;
      flex: 1;
    }
    input[type="text"] {
      display: block;
      width: 100%;
      padding: 6px 12px;
      color: rgba(148,174,191,.8);
      border: 1px solid hsla(0,0%,100%,.01);
      background-color: hsla(0,0%,100%,.1);
      text-align: left;
      font-weight: normal;
      font-size: 24px;
      line-height: 32px;
      border-radius: 4px;
      outline: none;
      transition: background-color .15s ease-in-out,color .15s ease-in-out,border-color .15s ease-in-out;
      &::placeholder {
        font-family: 'Open Sans', sans-serif;
        color: #94aebf;
        opacity: 0.4;
      }
    }
    .postSubmitMessage-container {
      text-align: center;
    }
    .success-message {
      margin-bottom: 20px;
      color: #94aebf;
      font-size: 24px;
      line-height: 30px;
      font-weight: bold;
      text-align: center;
    }
    .first-name {
      margin-right: 10px;
    }
  }
  .errors-container {
    margin: 5px 0;
    font-size: 12px;
    color: red;
    transition: height .5s ease-in-out;
    li {
      text-align: left;
    }
  }
  .form-notifications-container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

    input[type="checkbox"] {
    }
    p {
      font-weight: 300;
      padding-left: 5px;
      font-size: 12px;
      line-height: 14px;
      color: #888888;
      text-align: left;
    }
  }
  .btn-submit {
    width: auto;
    min-width: 180px;
    max-width: 100%;
    display: block;
    background: #ed1f34;
    cursor: pointer;
    border: 1px solid #ed1f34;
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    padding: 13px 14px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
    margin: 0;
    transition: background-color .25s ease-in-out,box-shadow .25s ease-in-out,opacity .25s ease-in-out,border-color .25s ease-in-out,color .25s ease-in-out;
    margin-top: 10px;
  }
}

// Desktop
@media only screen and (min-device-width : 1224px) {
  .layout {
    min-height: 100vh;
    transition: 0s;
  }
  .newsletter-container {
    width: auto;
    max-width: 9999em;
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 80px;
    z-index: 1;
  }
  .newsletter-header {
    position: relative;
    flex: 1 1 50%;
    .newsletter-title {
      position: relative;
      color: #b6fdbf;
      font-size: 50px;
      line-height: 60px;
      margin: 40px 20px 40px 0;
      text-align: right;
    }
  }
  .newsletter-content {
    position: relative;
    color: #94aebf;
    flex: 1 1 65%;
  }
  .newsletter-subtitle {
    padding: 0 7px;
    text-align: left;
    margin-bottom: 5px;
    color: #94aebf;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
  }
  .newsletter-subtext {
    margin-bottom: 10px;
    text-align: center;
    color: #94aebf;
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
  }
  .newsletter-form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    .newsletter-fieldset {
      position: relative;
      flex-direction: row;
      flex: 1 1 60%;
      margin-bottom: 10px;
      padding: 0;
      text-align: left;
    }
    .input-wrapper {
      display: inline-block;
      width: 63%;
      flex: 1;
      margin-right: 20px;
      .input-container {
        display: flex;
        flex: 1 1 auto;
      }
    }
    .form-action-wrapper {
      display: inline-block;
      width: 25%;
      flex: 1;
    }
    input[type="text"] {
      display: block;
      width: 100%;
      padding: 6px 12px;
      color: rgba(148,174,191,.8);
      border: 1px solid hsla(0,0%,100%,.01);
      background-color: hsla(0,0%,100%,.1);
      text-align: left;
      font-weight: normal;
      font-size: 24px;
      line-height: 32px;
      border-radius: 4px;
      outline: none;
      transition: background-color .15s ease-in-out,color .15s ease-in-out,border-color .15s ease-in-out;
      &::placeholder {
        font-family: 'Open Sans', sans-serif;
        color: #94aebf;
        opacity: 0.4;
      }
    }
    .postSubmitMessage-container {
      text-align: left;
    }
    .success-message {
      margin-bottom: 20px;
      color: #94aebf;
      font-size: 24px;
      line-height: 30px;
      font-weight: bold;
      text-align: left;
    }
    .first-name {
      margin-right: 10px;
    }
  }
  .errors-container {
    margin: 5px;
    font-size: 12px;
    color: red;
    li {
      text-align: left;
    }
  }
  .form-notifications-container {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    input[type="checkbox"] {
    }
    p {
      font-weight: 300;
      padding-left: 5px;
      font-size: 12px;
      line-height: 14px;
      color: #888888;
      text-align: left;
    }
    .checkbox-wrapper {
      display: flex;
    }
  }
  .btn-submit {
    width: auto;
    min-width: 180px;
    max-width: 100%;
    display: block;
    background: #ed1f34;
    cursor: pointer;
    border: 1px solid #ed1f34;
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    padding: 13px 14px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
    transition: background-color .25s ease-in-out,box-shadow .25s ease-in-out,opacity .25s ease-in-out,border-color .25s ease-in-out,color .25s ease-in-out;
    margin: 0;
    margin-top: 10px;
  }
}
