// Mobile
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .layout {
    min-height: 100vh;
    transition: 0s;
  }
  .form-container {
    text-align: center;
  }
  .gutter-container {
    width: 100%;
    padding: 0 30px;
    // max-width: 1000px;
    margin: 0 auto;
  }
  form {
    margin: 0 auto;
  }
  .form-header {
    // max-width: 30%;
    margin: 0 auto;
    padding: 70px 30px 0 30px;
    .first-header {
      max-width: 45%;
      top: 22%;
      color: #b6fdbf;
      font-size: 36px;
      line-height: 59px;
      text-align: left;
    }
    .second-header {
      padding: 0 7px;
      color: #94aebf;
      font-weight: bold;
      line-height: 20px;
      margin-bottom: 12px;
    }
  }
  .signup-form {
    input[type="text"] {
      display: block;
      width: 100%;
      padding: 6px 12px;
      margin: 0;
      margin-bottom: 13px;
      color: rgba(148,174,191,.8);
      border: 1px solid hsla(0,0%,100%,.01);
      background-color: hsla(0,0%,100%,.1);
      text-align: left;
      font-weight: normal;
      font-size: 14px;
      line-height: 32px;
      // font-family: Azo Sans,sans-serif;
      border-radius: 4px;
      outline: none;
      transition: background-color .15s ease-in-out,color .15s ease-in-out,border-color .15s ease-in-out;
      &:hover {
        outline: none;
        color: hsla(0,0%,100%,.8);
      }
      &::placeholder {
        font-family: 'Open Sans', sans-serif;
        color: #94aebf;
        opacity: 0.4;
      }
    }
  }
  .errors-container {
    margin: 5px 0;
    font-size: 12px;
    color: red;
  }
  .checkbox-container {
    display: flex;
    input[type="checkbox"] {
    }
    p {
      font-weight: 300;
      padding-left: 5px;
      font-size: 12px;
      line-height: 14px;
      color: #888888;
      text-align: left;
    }
  }
  .btn-submit {
    width: 100%;
    background: #ed1f34;
    cursor: pointer;
    display: block;
    border: 1px solid #ed1f34;
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    padding: 8px 14px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
    margin-bottom: 15px;
    transition: background-color .25s ease-in-out,box-shadow .25s ease-in-out,opacity .25s ease-in-out,border-color .25s ease-in-out,color .25s ease-in-out;
    margin-bottom: 20px;
    width: 100%;
    &:hover {
      opacity: 0.5;
    }
  }
}

// Tablet Portrait and Landscape
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

// Desktop
@media only screen and (min-device-width : 1224px) {
}
